@media all and (max-height: 760px) {
    #full_screen.portfolio_page_single h1 {
        margin: 17px 0 30px;
    }
}
@media all and (max-height: 760px) {
    #full_screen.portfolio_page_single .description {
        margin: 0 0 10px;
    }
}

@media all and (max-width: 1440px) {
    #full_screen.portfolio_page_single h1 {
        font-size: 100px;
        line-height: 90px;
        margin: 3px 0 13px;
    }
}
@media all and (max-height: 680px) {
    #full_screen.portfolio_page_single h1 {
        font-size: 80px;
        line-height: 70px;
        margin: 3px 0 13px;
    }
}




@media all and (max-width: 1800px) {
    .sailica2 .block12 .wrapcontainer .container{
        width:120%;
        margin:0 auto;
        margin-left: -10%;
    }
    
    ///////////////// GETTRAVEL ////////////
    .block4{
        overflow:hidden;
        max-height:917px;
        
        .max_w_image{
            
            height:100%;
            text-align:center;
            margin:0 auto;
            margin-top: -20px;
            
        }
    }
    
    .block5{
        .max_w_image{
            height:100%;
            max-height:925px;
        }
    }
    
    .block8{
        background:#dcebff;
        .max_w_image{
            width:100%;
            height:100%;
            max-height:917px;
        }
    }
    .block9{
        .max_w_image{
            width:100%;
            height:100%;
            max-height:917px;
        }
        
    }
    .block10{
        .max_w_image{
            width:100%;
            height:100%;
            max-height:917px;
        }
    }
    
    
    ///////////////// GETTRAVEL ////////////
    
    
}


@media all and (max-width: 1700px) {
    .gettravel .block11 .items{
        padding: 80px 20px 25px;
    }
}

@media all and (max-width: 1440px) {
    #menu_block .order_btn {margin: auto auto 40px;}
    #menu_block .info > a {
        font-size: 26px;
        margin: 0;
    }
}

@media all and (max-width: 1360px) {
    
    footer .copyright {
        margin-right: 30px;
    }
    footer a {
        margin-right: 35px;
    }
}
@media all and (max-width: 1260px) {
    #map,
    #contact_page .contact_map {
        width: 50%;
    }
    #full_screen .index_h2 {
        font-size: 43px;
        line-height: 50px;
    }
    .services_block {
        padding: 140px 0 120px;
    }
    .portfolio_items .title {
        font-size: 28px;
        line-height: 30px;
    }
    .portfolio_items .description {
        font-size: 14px;
        line-height: 18px;
    }
}
@media all and (max-width: 1200px) {
    .page {
        padding: 0 30px;
    }
    .gettravel .block1 .page .logo{
        img{
            width:80%;
            margin:0 auto;
        }
    }
    
    //////////////////  SAILICA  ///////////////////
    .sailica2 .block2 .slider{
        .buttons{
            padding-top:90px;
        }
        .tab-content{
            padding-bottom:130px;
        }
    }
    //////////////////  SAILICA  ///////////////////
    .castagnette .block2 .page .items{
        padding: 0 30px 140px;
    }
}
@media all and (max-width: 1140px) {
    .about_index {
        flex-wrap: wrap;
        .item {
            width: 47%;
            padding: 0;
            &.big_item {
                width: 100%;
                text-align: left;
                margin-bottom: 50px;
            }
        }
    }
    .portfolio_title {
        margin: 60px 0 0;
    }
    
}
@media all and (max-width: 1100px) {
    
    
    
    
    .services_block {
        flex-wrap: wrap;
        justify-content: center;
        .item {
            margin: 0 0 56px;
            flex-basis: 25%;
            flex-shrink: 0;
        }
    }
    footer {
        text-align: center;
        padding: 46px 0;
        .page {
            flex-wrap: wrap;
            justify-content: center;
        }
        .copyright,
        a {
            margin: 0 12px;
        }
        .social_block {
            margin-top: 10px;
            width: 100%;
            .pdf {
                margin-left: 0;
            }
        }
    }
    #full_screen {
        .index_h1 {
            font-size: 50px;
            line-height: 60px;
        }
        .index_h2 {
            font-size: 30px;
            line-height: 40px;
        }
    }
}
@media all and (max-width: 1024px) {
    #full_screen {
        video {display: none;}
    }
    #contact_page .contact_map {
        margin: 115px 0 93px;
    }
    #contact_page .contact_map h1 {
        font-size: 52px !important;
        line-height: 56px!important;
    }
    .kassir24 .block4 img {
        margin: 0 10px;
    }
    #full_screen.portfolio_page_single h1 {
        font-size: 80px;
        line-height: 90px;
        margin: 3px 0 13px;
    }
    #arrow {
        width: 32px;
        height: 32px;
        i {
            animation: none;
        }
    }
    
    
    
    
    //////////////////  SAILICA  ///////////////////
    
    .sailica2 .page-content{
        padding-top:70px;
        
    }
    
    
    //////////////////  SAILICA  ///////////////////
    .gettravel .block2:after{
        display:none;
    }
    .gettravel .block1:before{
        display:none;
    }
    
    .gettravel .block2{
        padding:0;
    }
    
    
    
}
@media all and (max-width: 950px) {
    #full_screen .case_h2 {
        font-size: 50px;
        line-height: 56px;
    }
    ///////////////// CASTAGNETTE ////////////
    .block2{
        padding:16% 0;
        .page{
            .items{
                display:flex;
                flex-wrap:wrap;
                //width:100%;
                width:50%;
                //justify-content:center;
                
            }
            .text{
                color: #201600;
                width:980px;
                max-width:100%;
                //text-align:center;
                padding:0 20px;
                margin:0 auto;
            }
        }
        
        
    }
    
    
    
    
    ///////////////// CASTAGNETTE ////////////
    
    //////////////////  SAILICA  ///////////////////
    .sailica2 .block2 .slider{
        .buttons{
            padding-top:90px;
        }
        .tab-content{
            padding-bottom:130px;
        }
    }
    .sailica2 .block2 .slider .but .tab-link{
        padding:2px 10px;
    }
    .sailica2 .block2 .slider .tab-content{
        padding:0 10% 120px;
    }
    
    
    .sailica2 .block12 .wrapcontainer .container .item-img{
        width:40%;
    }
    //////////////////  SAILICA  ///////////////////
    .gettravel .block1 .page .logo{
        img{
            width:70%;
        }
    }
    
}

@media all and (max-width: 900px) {
    #menu_block nav .item a{
        font-size:34px;
        padding:7px 0;
    }
    #menu_block .order_btn{
        margin:auto auto 20px;
    }
    #menu_block .info{
        margin:auto auto 15px;
    }
    #arrow{
        display:none;
    }
    .portfolio_title h2{
        font-size:50px;
        line-height:58px;
    }
    .gettravel .block2 .text {
        padding-bottom: 80px;
    }
    .gettravel .block3 .logo-for{
        padding-top:80px;
    }
    .gettravel .block3 .text{
        padding-bottom: 80px;
    }
    .gettravel .block11 .text{
        padding-bottom: 80px;
    }
    
    .castagnette .block1 .page .image:nth-child(2) {
        margin: 0 100px;
    }
    
}
@media all and (max-width: 880px) {
    .order_form {
        display: block;
        text-align: left;
        .title {
            margin: 0 0 51px;
        }
    }
}
@media all and (max-width: 850px) {
    
    
    
    
    #full_screen .case_h2 br {
        display: none;
    }
    .stark_branding .block1 {
        img {
            max-width: 40%;
        }
    }
    #full_screen.portfolio_page_single .tags {
        line-height: 20px;
    }
    .portfolio_items .item {
        width: 50%;
        &.big_item {
            width: 100%;
        }
    }
    
    
    
    .portfolio_items .item.big_item.big_item_wrap {
        width: 100%;
        .item,
        .item.big_item {
            width: 50%;
        }
    }
    .tilter.tilter--7.item.text_item.big_item.like_design {
        width: 50%;
        text-align: center;
    }
    .tilter {
        background: #000;
        img {
            opacity: .6;
            width: 100%;
        }
        color: #fff !important;
    }
    
    .img_hide,
    .tilter__image_hide,
    .responsive_all_portfolio_hide {
        display: none;
    }
    
    .img_hide_sailica{
        display: none;
    }
    
    
    .img_block,
    .tilter__image_block,
    .responsive_all_portfolio {
        display: block;
    }
    
    .item.view_projects_item.responsive_all_portfolio {
        height: 200px;
        width: 100%;
    }
    .portfolio_items .item .info {
        align-items: center !important;
        justify-content: center !important;
    }
    .portfolio_items .item.left_text .info {
        align-items: flex-start !important;
    }
    
    
    .portfolio_items .item.big_item.half{
        width:50%;
        text-align:center;
    }
    .left-text-main{
        text-align:center;
    }
    
    
    .portfolio_items .item.big_item {
        text-align: center;
    }
    
    .white_bg{
        background:white;
        color:#000 !important;
    }
}
@media all and (max-width: 780px) {
    .services_block .item {
        flex-basis: 33%;
    }
    #contact_page {
        display: block;
    }
    #contact_page .contact_map, #map {
        width: 100%;
    }
    #contact_page .contact_map {
        display: block;
    }
    #map {
        height: 250px;
    }
}

@media all and (max-width: 768px) {
    
    .castagnette .block .text {
        color: #fff;
        margin: 0;
    }
    .castagnette #full_screen.portfolio_page_single .description.center{
        font-size:16px;
        line-height:25px;
    }
    .castagnette .block1 .page .text{
        font-size:16px;
        line-height:25px;
    }
    .castagnette .block1 .page .wrap .items .item-img:nth-child(2){
        margin:0 50px;
    }
    .castagnette .block5{
        padding:5% 0;
    }
    
    .castagnette .block .text{
        font-size:16px;
        line-height:25px;
    }
    .castagnette .block2 .page .items .text_before{
        padding-bottom:100px;
        width:50%;
        
    }
    .castagnette .block2 .page .items .text_before:before{
        bottom:50px;
    }
    .castagnette .block2 .page .items{
        padding-bottom:0px;
    }
    .castagnette .block .items{
        padding-bottom:50px;
    }
    
    .castagnette .block1 .page .wrap .items .item-img:last-child{
        margin-right:20px;
    }
    .castagnette .block1 .page .wrap .items{
        padding: 20px 20px 30px;
    }
    .castagnette .block1{
        padding:10% 0;
    }
    .castagnette .block5{
        //padding:50px 0;
    }
    .castagnette .block9 img{
        width:75%;
    }
    .castagnette #full_screen.portfolio_page_single .logo_cast{
        width:35%;
        padding-bottom: 20px;
        font-size:14px;
    }
    .castagnette #full_screen.portfolio_page_single .description.center, .castagnette .block .text, .castagnette .block1 .page .text{
        font-size:14px;
        
    }
    //////////////////  SAILICA  ///////////////////
    
    #full_screen .page{
        padding-bottom:0px;
    }
    .sailica2 #full_screen.portfolio_page_single h1{
        font-size: 50px;
    }
    .sailica2 #full_screen.portfolio_page_single h3{
        font-size: 25px;
        padding-bottom:0;
    }
    .sailica2 .block1 .star{
        padding-top:55px;
    }
    
    .sailica2 .mac{
        padding:0 20px;
    }
    
    .sailica2 .page-content{
        
        h2{
            font-size:60px;
        }
    }
    .sailica2 .block1 .text{
        padding-bottom: 50px;
        font-size: 18px;
    }
    .sailica2 .block25 .bottom_text, .sailica2 .block5 .bottom_text{
        padding-bottom:50px;
    }
    .sailica2 .block101 .icons .row .icon-item{
        padding-top:60px;
        
    }
    .sailica2 .block1, .sailica2 .block101{
        padding-bottom:100px;
    }
    .sailica2 .grid2{
        margin-top:0;
        padding-top:0;
    }
    .sailica2 .block4{
        height:800px;
    }
    .sailica2 .block1, .sailica2 .block101{
        padding-bottom:0;
        h2{
            padding-top:50px;
        }
        
    }
    .sailica2 .block3 .bottom_text{
        padding-bottom:50px;
    }
    
    .sailica2 .grid{
        margin-top:0;
    }
    
    .sailica2 .block2 .slider{
        .buttons{
            padding-top:50px;
        }
        .tab-content{
            padding:0 5% 100px;
        }
    }
    
    //////////////////  SAILICA  ///////////////////
    
    ////////////////////////////  gettravel /////////////
    
    
    .gettravel .block1:before{
        display:none;
    }
    .gettravel .block1 .page{
        height:auto;
    }
    .gettravel .block .text{
        font-size:16px;
    }
    .gettravel .block3 .after-text:first-child{
        padding:7px 20px;
    }
    
    .gettravel .block h1{
        padding-top: 100px;
        font-size: 24px;
    }
    .gettravel .block3 .compass:before, .gettravel .block3 .sun:before{
        font-size:16px;
        padding-top:10px;
        
    }
    
    .gettravel .block1 .page{
        .logo{
            padding: 50px 20px 45px;
        }
        .text{
            padding: 0 60px 100px;
        }
    }
    
    .gettravel .block11 .items .both{
        padding-top:0;
    }
    .gettravel .block3 .logo-for{
        padding-top:100px;
        padding-bottom:100px;
        
    }
    .gettravel .block3 .text{
        padding:0 20px 100px;
        //padding:100px 20px;
    }
    .gettravel .block11 .items{
        padding: 90px 20px 10px;
    }
    .gettravel .block2:after{
        display:none;
    }
    .gettravel .block11 .text{
        padding-bottom:80px;
    }
    .gettravel .block2 {
        .logo-for{
            padding:0 20px;
            p{
                padding-left:0;
                padding-top:15px;
                
            }
            &:nth-child(2) {
                padding: 0 20px 40px;
                width: 45%;
                max-width: 85px;
            }
        }
        .text{
            padding-top:0;
            padding-bottom:100px;
        }
        .travel{
            padding-top:100px;
            padding-bottom:100px;
        }
    }
    
    
    .block2{
        padding:0;
    }
    
    
    
    /////////////////////////////////////// gettravel /////////////
    
    
    .sailica .block {
        overflow: hidden;
        &.block1 {
            padding: 26% 0;
            img {
                max-width: 70%;
            }
        }
        &.block2 {
            padding: 25% 0;
        }
        &.block3 {
            img {
                transform: translateX(-11%);
                width: 130% !important;
                max-width: 130% !important;
            }
        }
        &.block5 {
            padding: 20% 0;
        }
        &.block10 {
            background: #d6e5fa;
            padding: 10% 0;
            img {
                max-width: 90%;
            }
        }
        &.block6 {
            padding: 8% 0;
            img {
                max-width: 90%;
            }
        }
        &.block7 {
            img {
                max-width: 54%;
            }
        }
        &.block8,
        &.block9,
        &.block11,
        &.block12 {
            img {
                transform: translateX(-11%);
                width: 130% !important;
                max-width: 130% !important;
            }
        }
    }
    .sailica .height_block {
        height: auto;
        .page {
            display: block;
        }
        img {
            max-height: none;
            width: 100%;
        }
    }
    
    .load_word {
        transform: rotateX(0deg) translate(0px, 20px);
    }
    #rotate_main,
    #rotate_block,
    #index_content {
        height: auto !important;
    }
    #rotate_main,
    #rotate_block,
    #index_content,
    #full_screen {
        position: relative !important;
        transform: none !important;
        opacity: 1 !important;
        transform-origin: none !important;
        transform-style: none !important;
        * {
            animation: none !important;
            perspective: 0 !important;
            transform-style: none !important;
        }
    }
    .transition {
        opacity: 1 !important;
    }
    #strings {
        transform: none !important;
        opacity: 1 !important;
        transform-origin: 0 0 !important;
        animation: none !important;
        transform-style: none !important;
    }
}

@media all and (max-width: 750px) {
    .popup .flex {
        display: block;
    }
    .popup .col {
        width: 100%;
        padding: 0;
    }
    #full_screen.portfolio_page_single {
        height: auto !important;
        min-height: auto;
        padding: 121px 0 70px !important;
        display: block;
    }
    
    .gettravel #full_screen.portfolio_page_single{
        padding: 0!important;
    }
    
    #full_screen.portfolio_page_single .tags {
        padding-left: 0;
        &:after {
            display: none;
        }
    }
    #full_screen.portfolio_page_single .description {
        padding-left: 0;
    }
    #full_screen.portfolio_page_single .link {
        margin-left: 0;
    }
    .gettravel .block3 .logo-for {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .gettravel .block2 .travel {
        padding-top: 100px;
        padding-bottom: 25px;
        
    }
    .gettravel .block3 .text {
        padding: 20px 20px 80px;
    }
}

@media all and (max-width: 700px) {
    #menu_block {
        display: block;
        padding: 80px 0 0;
        overflow-y: auto;
        height: 100%;
    }
    #menu_block .page {
        display: block;
        flex-grow: 0;
    }
    #menu_block .order_btn {
        margin: 30px auto 0;
    }
    .kassir24 .block4 {
        padding: 50px 16px 0;
        img {
            width: 100%;
        }
    }
    .kassir24 .block4 img:first-child {
        display: none;
    }
    #full_screen.portfolio_page_single h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .portfolio_title {
        padding: 53px 0;
        &.portfolio_page {
            padding: 111px 0 53px;
        }
        h2 {
            font-size: 24px;
            line-height: 30px;
        }
    }
    .about_index .item .title {
        font-size: 24px;
        line-height: 30px;
    }
    .about_index .item {
        width: 100%;
    }
    .services_block {
        padding: 140px 0 60px;
    }
    .gettravel .block1 .page .logo{
        img{
            width:50%;
            margin:0 auto;
        }
    }
    .gettravel .block1 .page .logo {
        padding: 50px 20px 25px;
    }
    .gettravel .block .text {
        font-size: 14px;
        line-height: 25px;
        padding:10px 16px 50px;
    }
    
    .gettravel .block11 .items {
        padding: 50px 20px 10px;
    }
    
}
@media all and (max-width: 610px) {
    
    
    .gettravel .block1 .page .text{
        padding: 0 16px 50px;
        font-size: 14px;
        line-height: 25px;
        
    }
    .gettravel .block2 .text{
        padding: 0 16px 50px;
        line-height: 25px;
        font-size: 14px;
    }
    .gettravel .block2 .travel {
        padding-top: 50px;
        padding-bottom: 25px;
        
    }
    .gettravel .block3 .logo-for {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    main#rotate_main.padding_on,
    #rotate_block.at_content {
        margin-bottom: 0;
    }
    
    .popup .content {
        width: 100%;
        height: 100%;
    }
    main {
        margin-bottom: 0;
    }
    footer {
        padding: 30px 0;
        position: relative;
        display: none;
        &.show {
            display: block;
        }
        .social_block .icons {
            width: 100%;
            margin-top: 20px;
        }
    }
}
@media all and (max-width: 600px) {
    #contact_page .contact_map {
        padding: 135px 16px 0;
        margin-top: 0;
    }
    .services_block .item {
        flex-basis: 50%;
    }
    header .page_header,
    .page {
        padding: 0 16px;
    }
    #full_screen .case_h2 {
        font-size: 28px;
        line-height: 37px;
        margin: 0;
        br {
            display: none;
        }
    }
    #full_screen .case_h1 {
        font-size: 12px;
        margin-top: 20px;
    }
    #menu_block nav .item a {
        line-height: 40px;
    }
    
    .order_form .title {
        margin: 0 0 20px;
    }
    .order_form .right {
        display: block;
        .links {
            display: inline-block;
            margin: 30px 0;
            vertical-align: middle;
            width:100%;
        }
    }
    
}

@media all and (max-width: 570px) {
    .order_form .title {
        margin: 0 0 20px;
    }
    .order_form .right {
        display: block;
        .links {
            display: inline-block;
            margin: 30px 0;
            vertical-align: middle;
        }
    }
    .order_form .right {
        display: block;
    }
}
@media all and (max-width: 560px) {
    .portfolio_items .item {
        width: 100% !important;
        text-align: left !important;
    }
    .kassir_img_hide {
        display: none;
    }
    .kassir_img {
        display: block;
    }
    .portfolio_items .title {
        font-size: 48px;
        line-height: 50px;
        br {
            display: none;
        }
    }
    .portfolio_items .description {
        font-size: 16px;
        line-height: 20px;
        br {
            display: none;
        }
    }
    .portfolio_items .item .info {
        align-items: flex-start !important;
    }
    .like_design {
        height: 300px;
    }
    
    .left-text-main{
        text-align:left;
    }
    .order_form .right {
        display: block;
    }
    
    
}
@media all and (max-width: 500px) {
    #logo {
        width: 25px;
        height: 58px;
        display: block;
        background: url(../img/logo.svg) no-repeat;
        img {
            display: none;
        }
    }
    .page_header.red {
        #logo {
            background: url(../img/logo_for_red.svg) no-repeat;
        }
    }
    .popup .title {
        margin: 0 0 40px;
        font-size: 28px;
    }
    .popup .close {
        top: 15px;
        right: 15px;
    }
    .order_form .right {
        display: block;
    }
}
@media all and (max-width: 480px) {
    .pagination .page a span {display: none;}
    
    .castagnette #full_screen.portfolio_page_single .description.center, .castagnette .block .text, .castagnette .block1 .page .text {
        font-size: 14px;
        line-height: 20px;
    }
    
    .castagnette .block .text{
        margin:0;
        padding:0;
    }
    .castagnette .block2 .page .text{
        padding:0;
        margin:0;
    }
    .castagnette .block2 .page .items .text_before{
        padding-bottom:100px;
        width:100%;
        
    }
    .castagnette .block1 .page .image{
        margin:0;
    }
    .castagnette .block1 .page .image:nth-child(2) {
        margin: 0;
    }
    //.castagnette .block1 .page .image{
    //    max-width:70%;
    //}
    //.castagnette .block1 .page .image{
    //    width:30%;
    //}
    //.castagnette .block1 .page .image:last-child{
    //    width:20%;
    //}
    .castagnette .block1 .page .image:nth-child(2){
        margin:0 20px;
        width:5%;
    }
    .castagnette .block .items{
        padding:0;
        padding-bottom:25px;
    }
    .castagnette .block3, .castagnette .block7{
        .max_w_image{
            width:150%;
            max-width:150%;
            margin-left: -25%;
        }
    }
    .castagnette .block6{
        .max_w_image{
            width:130%;
            max-width:130%;
            margin-left: -25%;
        }
    }
    .castagnette .block5 {
        .max_w_image{
            width: 114%;
            max-width: 150%;
            margin-left: -7%;
        }
    }
    
    .castagnette .block7{
        .max_w_image{
            width:130%;
            max-width:130%;
            margin-left: -15%;
        }
    }
    
    
    .castagnette .block4 {
        img {
            max-width: 110%;
            vertical-align: top;
            margin-left: -5%;
        }
    }
    .castagnette .block8, .castagnette .block9 {
        img {
            max-width: 120%;
            vertical-align: top;
            margin-left: -10%;
        }
    }
    
    .castagnette .height_block {
        height: 100%;
    }
    .castagnette .height_block img {
        max-height: 150%;
        width: auto!important;
    }
    
    .castagnette #full_screen.portfolio_page_single .logo_cast{
        width:70%;
    }
    .castagnette .block1 .page .wrap .items .item-img .image{
        height:100%;
    }
    
    .castagnette .block9 img{
        
        margin-left:0;
    }
    
    /////////////    SAILICA2   ////////////////////
    .sailica2 .wrapper{
        padding:0 10px;
    }
    
    .sailica2 .block2 .slider{
        .buttons{
            padding-top:25px;
        }
        .tab-content{
            padding:0 5% 50px;
        }
    }
    .sailica2 .block101 .icons .row .icon-item{
        padding:20px 10px;
        
    }
    .sailica2 .page-content {
        padding-top: 50px;
    }
    .sailica2 .page-content h2 {
        font-size: 40px;
    }
    .sailica2 .page-content p{
        padding-top:15px;
    }
    //.sailica2 .block8 .mobile-content .mobile-block .mobile-phone{
    //    padding:0;
    //}
    .sailica2 .block8 .mobile-content .mobile-block .mobile-phone{
        margin: 30px 10px 0;
        padding:0;
    }
    .sailica2 .block12 .wrapcontainer .container .item-img{
        width:60%;
        &:nth-child(2n){
            top:0;
        }
        
    }
    .sailica2 .block12 .wrapcontainer .container{
        padding-top:50px;
    }
    
    /////////////    SAILICA2   ////////////////////
    /////////////    GETTRAVEL   ////////////////////
    
    .gettravel .block .text{
        font-size:14px;
        padding:0 16px 60px;
        line-height:20px;
    }
    .gettravel .block2 .logo-for p{
        font-size:14px;
    }
    .gettravel .block1 .page .text{
        padding:0 16px 100px;
        line-height:20px;
        font-size:14px;
    }
    .gettravel .block2 .travel{
        padding-top:50px;
    }
    .gettravel .block11 .items{
        padding:0 10px 40px;
    }
    .gettravel .block {
        p{
            font-size:14px;
            line-height:25px;
        }
        
        h1{
            font-size:20px;
            padding-top: 60px;
            padding-bottom: 50px;
        }
        
    }
    .gettravel .block2 .logo-for{
        //padding:0 20px;
        padding: 0 10px;
    }
    .gettravel .block3{
        .logo-for{
            padding:50px 40px 70px;
        }
        .after-text{
            padding:0 10px;
        }
    }
    .gettravel .block3 .compass:before, .gettravel .block3 .sun:before{
        font-size:14px;
    }
    .gettravel .block1{
        height:auto;
    }
    .gettravel .block3 .after-text:first-child{
        padding:4px 10px;
    }
    .gettravel .block11 .items{
        padding: 40px 10px 40px;
    }
    
    .gettravel .block2 .travel{
        padding-bottom:30px;
    }
    .gettravel .block2 .logo-for:nth-child(2) {
        padding: 0 10px 40px;
        width: 45%;
        max-width: 45px;
    }
    
    /////////////    GETTRAVEL   ////////////////////
}
@media all and (max-width: 410px) {
    #contact_page .contact_map h1 {
        font-size: 34px!important;
        line-height: 34px !important;
        margin-bottom: 25px;
    }
    .order_form {
        padding-top: 40px !important;
    }
    .pagination {
        margin-top: 40px;
    }
    .order_form .title {
        font-size: 30px;
        margin-bottom: 0;
    }
    .btn {
        height: 40px;
        line-height: 37px;
        padding: 0 18px;
    }
    #full_screen .index_h2 br {
        display: none;
    }
    #full_screen .icons {
        text-align: center;
        right: 0;
        width: 100%;
        a {
            margin: 0 6px;
        }
    }
    footer .social_block a {
        margin: 0 3px !important;
    }
    
    
    
    
}


@media all and (max-width: 380px) {
    .about_index .item .links .pdf {
        display: inline-block;
        margin-bottom: 20px;
    }
}
